.list{
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
    
}
.text{
    background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(255, 20, 32), rgb(255, 51, 51))
}
.list:hover{
    background-size: 100% 3px;
		background-position: 0 100%
}
.body-h1{
    background: linear-gradient(92.25deg, #FF4646 4.86%, rgba(255, 70, 70, 0) 94.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   
}


  @media (max-width: 640px) {
    .main_nav{
      display: none;
    }
   }

  .show_nav{
    background-color: #0A0A13;
    padding-top: 2rem;
    display: flex;
    width: 100vw;
    margin-top: 3rem;
    height: 88vh;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 200;
    border-top: 2px solid whitesmoke;
    transition: all .3s ease-in-out;
  }

  .main_nav li{
   
    z-index: 100;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: transform 0.6s cubic-bezier(0.65, 0, 0.07, 1), -webkit-transform 0.6s cubic-bezier(0.65, 0, 0.07, 1);
  }
  .navbar_toggle {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    color: #ffffff;
    background: transparent;
    border-color: transparent;
    transform: scaleX(1rem);
    transition: all 1s ease-out;
    cursor: pointer;
    display: block;
    animation: slide;
    z-index: 100;
    
  }
  

  

  #container {
    perspective: 30px;
  }
  
  #inner {
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
  }

  /*! card css  */

  .product{
    width: 400px;
    height: 550px;
    perspective: 1000px;
    overflow: hidden;
  }
  .product-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s;
    

  }
  .product-front{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateZ(25px);
  }

  .product-top{
    height: 50%;
    width: 100%;
    background: linear-gradient(#0794a6, #9bae07);
    color: white;
  }
.product-top h1{
  font-size: 130px;
  font-weight: 700;
  margin-left: 20px;
  font-style: italic;
  opacity: 0.3;
}
.product-bottom{
  padding: 50px 30px;

}
.product-bottom p{
  font-size: 22px;
  font-weight: 800;
}
.product-bottom h1{
  font-style: 40px;
  font-weight: 700;
  color: #333;
  margin-bottom: 5px;
}
.product-bottom button{
  padding: 9px 25px;
  background: transparent;
  color: #008394;
  border: 1px solid #008394;
  border-radius: 30px;
  outline: none;
  cursor: pointer;

}
.color-select{
  display: flex;
  float: right;
  margin-top: -10px;
}
.select-item{
  width: 50px;
  height: 50px;
  margin: 0 10px;
  padding: 5px;
  border-radius: 50%;
  box-shadow: -5px 0 8px 2px rgba(156, 216, 244 , 0.5);
  text-align: center;
  cursor: pointer;

}
.select-item img{
  width: 80%;
  padding-top: 10%;
} 
.select-item:hover{
  background: rgba(156, 216, 244 , 0.5);
  box-shadow: none;
  transition: 0.5s;
}
.product-top2{
  background:linear-gradient(#c370fd, #3be1b8);
}
.product-back{
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  transform:translateZ(-23px) rotateY(180deg) ;
}
.left-side, .right-side{
  width: 50px;
  height: 100% ;
  background: #fff;
  transform: rotateY(90deg);
  position: absolute;
  top: 0;
  left: -25px;

}
.right-side{
transform: rotateY(-90deg);
left: auto;
right: -25px;
}
#frontImg{
  width: 340px;
  top: 70px;
  left: 20px;
  position: absolute;
  transform: translateZ(50px);
  transition: 1s;
  z-index: 100;
}
#backImg{
  width: 340px;
  top: 70px;
  left: -650px;
  position: absolute;
  transform: translateZ(50px) rotate(-30deg);
  transition: 1s;
  z-index: 100;
  
}

#img1{
  transition: 1s;
  z-index: 100;
  top: 1rem;
   animation: slide-top 3s linear infinite  ;
}
@media (min-width: 1024px) { 
  #img1{
    top: 3rem;
  }
 }
@keyframes slide-top{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-1rem);
  }
  70%{
    transform: translateY(1rem);
  }
  100%{
    transform: translateY(0);
  }
}


/*! -------------------slider */
.image-slider{
  width: 100%;
    display: grid;
    position: relative;
    overflow: hidden;
    padding-top: 25px;
}
.slider-track{
  display: flex;
    width: calc(250px * 6);
    animation: scroll 40s linear infinite;
}
.slider h1{
  color: white;
    border-radius: 8px;
    padding: 19px 11px;
    /* border: 2px solid red; */
    font-size: 35px;
    font-weight: 700;
    width: 22rem;
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-250px*3));
  }
}

.color-line {
  width: 17rem;
  height: 1rem;
  margin-left: 6rem;
  margin-top: 1rem;
  background: linear-gradient(270deg, rgba(255, 68, 68, 0.78) 5.7%, rgba(94, 20, 255, 0.815) 104.48%, rgba(255, 71, 71, 0.71) 107.15%, #7927FF 107.16%);
border-radius: 12px;
}
@media (min-width: 1024px) { 
  .color-line{
    width: 39rem;
  }
 }
.btn{
  
  border-radius: 12px;
  background: rgb(141,25,255);
background: linear-gradient(90deg, rgba(141,25,255,1) 4%, rgba(255,0,5,1) 100%);
transition: 1s linear;
}
.btn:hover{
  background: #3be1b8;
  transition: 1s linear;

  /* background: linear-gradient(90deg, rgba(255,25,25,1) 4%, rgba(248,8,255,1) 100%); */
}
.colle{
  background: #DF3DFF;
background: linear-gradient(to right, #DF3DFF 0%, #CF0037 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.glassBox {
  width: 100%;
  height: 400px;
  max-width: 300px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.27);
  backdrop-filter: blur(9px);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  padding: 15px;
  position: relative;
  flex-direction: column;
}
.glassBox, .glassBox * {
  box-sizing: border-box;
  transition: 400ms;
}
.glassBox__imgBox img {
  display: block;
  width: 100%;
  height: auto;
}
.glassBox__title {
  text-align: center;
  margin-top: -3rem;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  
}

.glassBox:hover .glassBox__imgBox {
  transform: translateY(-50px);
}
.glassBox:hover .glassBox__imgBox img {
  transform: translate(-20px, -40px) rotate(-15deg) scale(1.4);
}
.s_btn{
  transition: 0.5s linear;
}
.s_btn:hover{
background-color: #CF0037;
}

/* add to button  */
.glow-on-hover {
  width: 105px;
  height: 45px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
#fir-shoe{
  margin-top: 2rem;
}